<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="OpenSubtitles" type="SearchProcessing.OpenSubtitles.OpenSubtitlesConfiguration, SearchProcessing" />
	</configSections>
	<OpenSubtitles Username="tylerwal" Password="indianaJones" Language="en" UserAgent="MediaHandle"/>
</configuration>