<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="OpenSubtitles" type="MediaHandleUtilities.Configuration.OpenSubtitlesConfiguration, MediaHandleUtilities" />
		<section name="TheMovieDb" type="MediaHandleUtilities.Configuration.TheMovieDbConfiguration, MediaHandleUtilities"/>
	</configSections>
	<OpenSubtitles Url="http://api.opensubtitles.org/xml-rpc" Username="tylerwal" Password="indianaJones" Language="en" UserAgent="MediaHandle"/>
	<TheMovieDb Url="https://api.themoviedb.org" ApiKey="f52f11edacfe8bbf8b9978ddbaf76526" />
</configuration>